langchain==0.3.27
langchain-core==0.3.78
langchain-openai==0.3.35
langchain-tavily==0.2.12
langgraph==0.6.10
langsmith==0.4.33
matplotlib==3.10.3
litellm==1.74.2
python-dotenv==1.1.1
pydantic==2.11.7
pandas==2.3.3
duckdb==1.4.1
dbt-core==1.10.13